body{
background-color: gold;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.icardi-card{
width: 320px;
text-align: center;
background-color: white;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
padding: 25px;

}
img{
width: 150px;
height: 150px;
border-radius: 50%;
border: 4px solid #ffcc00;

}
button{
color: gold;
background-color: gold;
margin-bottom: 10px;
padding: 10px 20px;
border: none;
}


.action-are a i {  
color: red;
text-decoration: none;
    margin: 0 10px;
    margin-bottom: 10px;

}